.ask-question-block {
	background-color: var(--pink-light);
	padding: 105px 0;

	@include mq("desktop", max) {
		padding: 80px 0;
	}

	@include mq("tablet", max) {
		padding: 60px 0;
	}

	@include mq("phone", max) {
		padding: 40px 0;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;

		@include mq("desktop-s", max) {
			flex-direction: column;
		}
	}

	&__form-box {
		margin-right: 30px;

		@include mq("desktop-s", max) {
			margin-right: 0;
		}
	}

	&__title {
		max-width: 628px;
		width: 100%;
		margin-bottom: 65px;

		@include mq("desktop-s", max) {
			margin: 0 auto 65px auto;
			max-width: 900px;
			text-align: center;
		}

		@include mq("phone", max) {
			margin-bottom: 40px;
		}
	}

	&__form {
		max-width: 455px;
		width: 100%;

		@include mq("desktop-s", max) {
			max-width: 1000px;
			margin: 0 auto 50px auto;
		}

		.form-question__btn {
			@include mq("desktop-s", max) {
				display: block;
				margin: 0 auto;
				width: fit-content;
			}
		}

		.form-question__checkbox-label {
			@include mq("desktop-s", max) {
				margin-bottom: 20px;
			}
		}

		.form-question__checkbox-style {
			@include mq("desktop-s", max) {
				margin-top: 3px;
			}
		}
	}

	&__accordion {
		max-width: 700px;
		width: 100%;

		@include mq("desktop-s", max) {
			max-width: 100%;
		}
	}
}
