.specialists-block {
	padding: 120px 0 105px;

	@include mq("desktop", max) {
		padding: 80px 0;
	}

	@include mq("tablet", max) {
		padding: 60px 0;
	}

	@include mq("phone", max) {
		padding: 50px 0;
	}

	&__title {
		justify-content: center;
		margin-bottom: 35px;
	}

	&__btn-box {
		justify-content: center;
		margin-bottom: 35px;
	}

	&__title,
	&__btn-box {
		@include mq("phone", max) {
			justify-content: left;
			margin-bottom: 15px;
		}
	}

	&__slider {
		margin-bottom: 45px;

		@include mq("phone", max) {
			margin-bottom: 25px;
		}
	}

	&__btn {
		display: block;
		margin: 0 auto;
		width: fit-content;
	}
}
