.slider-scroll {
	padding: 120px 0;
	overflow: hidden;

	@include mq("desktop-s", max) {
		padding: 100px 0;
	}

	@include mq("tablet", max) {
		padding: 80px 0;
	}

	@include mq("phone", max) {
		padding: 60px 0;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mq("tablet", max) {
			flex-direction: column;
		}
	}

	&__box {
		max-width: 270px;
		width: 100%;

		@include adaptiveValue("margin-right", 90, 15);

		@include mq("tablet", max) {
			max-width: 100%;
			margin-bottom: 30px;
			margin-right: 0;
		}

		@include mq("phone", max) {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}

	&__title {
		margin-bottom: 40px;

		@include mq("tablet", max) {
			margin-bottom: 10px;
		}
	}

	&__btn-box {
		@include mq("tablet", max) {
			justify-content: center;
		}
	}

	&--red {
		color: var(--white-color);
		background-color: var(--accent-color);

		@include mq("phone", max) {
			padding-top: 60px;
		}
	}
}
