.advantages-block {
	padding: 120px 0;

	@include mq("desktop-s", max) {
		padding: 90px 0 50px;
	}

	@include mq("tablet-s", max) {
		padding: 80px 0 50px;
	}

	&__title {
		margin-bottom: 55px;

		@include mq("tablet-s", max) {
			margin-bottom: 40px;
		}
	}

	&__list {
		margin: 0 -15px;
	}
}
