.advantages-block {
	padding-top: 120px;

	@include mq("desktop-s", max) {
		padding-top: 90px;
	}

	@include mq("tablet-s", max) {
		padding-top: 80px;
	}

	&__title {
		margin-bottom: 55px;

		@include mq("tablet-s", max) {
			margin-bottom: 40px;
		}
	}

	&__list {
		margin: 0 -15px;
	}
}
