.hero {
	background-color: var(--pink-light);
	padding: 135px 0 134px;
	position: relative;
	z-index: 1;

	@include mq("tablet-s", max) {
		padding: 70px 0;
	}

	@include mq("phone", max) {
		padding: 50px 0;
	}

	&::before {
		content: "";
		display: block;
		position: absolute;
		background-image: url(../images/hero-block/face.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		right: 0;
		top: 0;
		width: 732px;
		height: 100%;
		z-index: 1;

		@include mq("desktop", max) {
			width: 582px;
		}

		@include mq("desktop-s", max) {
			display: none;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		max-width: 700px;
		width: 100%;
		z-index: 2;
		position: relative;
	}

	&__title {
		font-family: "OpenSans";
		font-style: normal;
		font-size: 48px;
		line-height: 1.2;
		margin-bottom: 25px;

		@include mq("tablet-s", max) {
			font-size: 38px;
			margin-bottom: 20px;
		}

		@include mq("phone", max) {
			font-size: 28px;
		}
	}

	&__text {
		margin-bottom: 20px;

		@include mq("tablet-s", max) {
			margin-bottom: 10px;
		}

		@include mq("phone", max) {
			font-size: 16px;
			line-height: 1.1;
		}
	}

	&__price {
		font-family: "OpenSans";
		font-size: 40px;
		line-height: 1.2;
		margin-bottom: 35px;

		@include mq("tablet-s", max) {
			font-size: 34px;
			margin-bottom: 20px;
		}

		@include mq("phone", max) {
			font-size: 28px;
			margin-bottom: 15px;
		}
	}

	&__btn {
		align-self: flex-start;
		margin-bottom: 80px;

		@include mq("tablet-s", max) {
			margin-bottom: 0;
		}

		@include mq("phone", max) {
			font-size: 16px;
			padding: 13px 40px;
		}
	}

	&__recommendations-inner {
		display: flex;
		justify-content: start;

		@include mq("desktop-s", max) {
			.recommendations__span {
				margin-bottom: 0;
			}

			.recommendations__num {
				font-size: 16px;
			}
		}
	}

	&__recommendations {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;

		@include mq("tablet-s", max) {
			display: none;
		}
	}
}
