:root {
	// base
	--font-family: "Montserrat", sans-serif;
	--content-width: 1446px;
	--content-width-narrow: 1176px;
	--container-offset: 15px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));
	--container-width-narrow: calc(var(--content-width-narrow) + (var(--container-offset) * 2));

	// colors
	--accent-color: #de596d;
	--bg-color: #fff;
	--red-hover: #bc1340;
	--black-color: #161516;
	--dark-grey-color: #222022;
	--pink: #dd8e94;
	--pink-color: #ffd7da;
	--pink-light: #fff4f8;
	--white-color: #fff;
	--grey-border: #cac8ca;
}

:root[data-theme="dark"] {
	--bg-color: #38444c;
	--accent-color: #293238;
	--red-hover: #de596d;
	--pink-light: #697278;
	--pink-color: #5c5858;
	--black-color: #fff;
}
