.stocks-block {
	padding: 120px 0;

	@include mq("desktop-s", max) {
		padding: 90px 0;
	}

	@include mq("tablet", max) {
		padding: 80px 0;
	}

	@include mq("phone", max) {
		padding-top: 60px;
	}

	&__title {
		margin-bottom: 60px;

		@include mq("tablet", max) {
			margin-bottom: 50px;
		}

		@include mq("phone-s", max) {
			margin-bottom: 25px;
		}
	}
}
