.questions-block {
	&__wrapper {
		display: flex;
		position: relative;
	}

	&__box {
		display: flex;
		background-color: var(--pink-light);
		padding-right: 15px;
		max-width: 935px;
		min-height: 680px;
		width: 100%;
		margin-left: auto;
		padding-left: 240px;

		@include mq("desktop-s", max) {
			min-height: 550px;
			max-width: 850px;
			padding-left: 180px;
		}

		@include mq("tablet", max) {
			max-width: 700px;
		}

		@include mq("tablet-s", max) {
			margin-left: 0;
			max-width: 100%;
			min-height: auto;
			padding: 40px 20px;
		}

		&:before {
			content: "";
			display: block;
			background-image: url(../images/questions-block/1.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: 575px;
			height: 540px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;

			@include mq("desktop-s", max) {
				width: 400px;
				height: 400px;
			}

			@include mq("tablet-s", max) {
				display: none;
			}
		}
	}

	&__inner {
		margin-top: auto;
		margin-bottom: auto;
		z-index: 2;
	}

	&__title {
		margin-bottom: 25px;

		@include mq("tablet", max) {
			margin-bottom: 15px;
		}
	}

	&__descr {
		margin-bottom: 55px;

		@include mq("tablet", max) {
			margin-bottom: 15px;
		}
	}

	&__link {
		display: inline-block;

		@include mq("phone", max) {
			padding: 8px 20px;
			font-size: 16px;
			text-align: center;
		}
	}
}
