.logo {
	outline: transparent;
	transition: all 0.3s ease 0s;
	border-radius: 50%;

	&:focus {
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	}

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.8;
		}
	}
}

.social-list {
	display: flex;

	&__item {
		&:not(:last-child) {
			margin-right: 25px;
		}
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		outline: transparent;

		&:focus {
			svg {
				fill: var(--pink);
			}
		}

		@media (any-hover: hover) {
			&:hover {
				svg {
					fill: var(--dark-grey-color);
				}
			}
		}

		svg {
			transition: fill 0.3s ease 0s;
			width: 24px;
			height: 24px;
			fill: var(--white-color);
		}
	}
}

.switch-color {
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		width: 24px;
		height: 24px;
		fill: var(--white-color);
		transition: fill 0.3s ease 0s;
	}

	&:focus {
		svg {
			fill: var(--pink);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			svg {
				fill: var(--dark-grey-color);
			}
		}
	}
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@include mq("tablet", max) {
		background-color: var(--pink-light);
		flex-direction: column;
		padding: 110px 0px 80px 0px;
		margin-right: 0;
		overflow: auto;
		transform: translateY(-200%);
		transition: transform 0.4s;
		width: 100%;

		@include mq("phone", max) {
			padding: 90px 0 40px 0;
		}
	}

	&--active {
		transform: translateY(0);
		z-index: 2;

		& .header__search {
			display: block;
		}
	}

	&__item {
		@include mq("tablet", max) {
			width: 100%;
			text-align: center;
			font-size: 24px;
		}

		&:not(:last-child) {
			@include adaptiveValue("margin-right", 60, 20);

			@include mq("tablet", max) {
				margin-right: 0;
				margin-bottom: 20px;
			}
		}
	}

	&__link {
		transition: color 0.3s ease 0s;
		outline: transparent;

		&:focus {
			color: var(--red-hover);
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--accent-color);
			}
		}
	}
}

.text {
	font-family: "NunitoSans";
	line-height: 1.5;

	@include mq("phone", max) {
		font-size: 16px;
		line-height: 1.2;
	}
}

.recommendations {
	background-color: var(--pink-color);
	padding: 47px 0;

	&__item {
		display: flex;
		align-items: center;
		max-width: 270px;
		width: 100%;

		&:not(:last-child) {
			margin-right: 45px;
		}
	}

	&__img {
		margin-right: 15px;
	}

	&__content {
		font-family: "Montserrat";
	}

	&__span {
		display: block;
		font-size: 16px;
		margin-bottom: 5px;
	}

	&__num {
		font-weight: 500;
	}
}

.price-table {
	border-collapse: collapse;
	width: 100%;

	@include mq("tablet-s", max) {
		font-size: 13px;
	}

	th {
		padding: 30px 0;

		@include mq("tablet-s", max) {
			padding: 20px 0;
		}
	}

	&__title {
		display: inline-block;
		font-family: "OpenSans";
		font-weight: 400;
		font-size: 24px;
		line-height: 1.2;
		margin-bottom: 15px;
		text-align: left;
		position: relative;
		padding-right: 35px;

		svg {
			fill: var(--black-color);
			transform: rotate(180deg);
			height: 18px;
			width: 21px;
		}

		@include mq("phone", max) {
			font-size: 18px;
		}
	}

	&__line {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid var(--grey-border);

		&:first-child {
			border-top: 1px solid var(--grey-border);
		}
	}

	&__name {
		font-family: "SourceSansPro";
		font-weight: 400;
		line-height: 1.5;
		text-align: left;
		max-width: 645px;
		width: 100%;
		margin-right: 10px;

		@include mq("phone", max) {
			margin-right: 7px;
		}
	}

	&__time,
	&__price {
		margin-right: 10px;
		flex-shrink: 0;

		@include mq("phone", max) {
			flex-shrink: 1;
			margin-right: 7px;
		}
	}

	&__time {
		font-weight: 400;
	}

	&__link {
		padding: 13px 40px;

		@include mq("phone", max) {
			padding: 8px 10px;
			font-size: 11px;
		}
	}
}

.pockets {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;

	@include mq("desktop", max) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include mq("tablet-s", max) {
		grid-template-columns: repeat(1, 1fr);
		gap-row: 20px;
	}
}
