.service-pocket {
	background-color: var(--white-color);
	padding: 40px;
	text-align: center;

	@include mq("phone-s", max) {
		padding: 20px;
	}

	&__title {
		font-family: "SourceSansPro";
		font-weight: 400;
		font-size: 24px;
		line-height: 1.2;
		padding-bottom: 8px;
		position: relative;
		margin-bottom: 8px;

		&:after {
			content: "";
			display: block;
			width: 120px;
			height: 1px;
			background-color: var(--accent-color);
			margin: 0 auto;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__descr {
		margin-bottom: 30px;

		@include mq("phone-s", max) {
			margin-bottom: 15px;
		}
	}

	&__price-new,
	&__price-old {
		display: block;
	}

	&__price-new {
		font-weight: 600;
		font-size: 30px;
		line-height: 1.2;
		margin-bottom: 5px;
	}

	&__price-old {
		font-weight: 400;
		text-decoration: line-through;
		margin-bottom: 30px;

		@include mq("phone-s", max) {
			margin-bottom: 15px;
		}
	}

	&__link {
		display: block;

		@include mq("phone-s", max) {
			padding: 13px 40px;
		}
	}
}

.stock-card {
	background-color: var(--pink-light);

	&__wrapper {
		display: flex;
		flex-direction: column;
		padding: 30px 30px 40px 30px;
		text-align: center;

		@include mq("tablet", max) {
			padding-top: 20px;
		}

		@include mq("phone-s", max) {
			padding-bottom: 20px;
		}
	}

	&__img {
		object-fit: cover;

		@include mq("tablet", max) {
			width: 100%;
			height: 300px;
		}

		@include mq("phone-s", max) {
			height: 200px;
		}
	}

	&__box {
		margin-bottom: 25px;

		@include mq("tablet", max) {
			margin-bottom: 10px;
		}

		@include mq("phone-s", max) {
			margin-bottom: 5px;
		}
	}

	&__price-new {
		font-weight: 600;
		font-size: 30px;
		line-height: 1.2;
		margin-right: 5px;

		@include mq("phone-s", max) {
			font-size: 26px;
		}
	}

	&__price-old {
		font-weight: 400;
		font-size: 16px;
		text-decoration: line-through;
	}

	&__title {
		font-family: "SourceSansPro";
		font-weight: 400;
		font-size: 24px;
		line-height: 1.2;
		margin-bottom: 10px;
	}

	&__descr {
		margin-bottom: 25px;

		@include mq("tablet", max) {
			margin-bottom: 10px;
		}
	}

	&__link {
		align-self: center;
		padding: 13px 35px;
	}
}

.review {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 30px;

	@include mq("phone", max) {
		padding: 16px;
	}

	&__time,
	&__name {
		display: block;
		font-weight: 300;
		line-height: 1.2;
	}

	&__time {
		font-size: 16px;
		line-height: 1.3;
		margin-bottom: 10px;
	}

	&__name {
		font-weight: 500;
		margin-bottom: 25px;

		@include mq("phone", max) {
			margin-bottom: 15px;
		}
	}

	&__feedback {
		margin-bottom: 15px;
	}

	&__email,
	&__show-more {
		font-family: "OpenSans";
		font-weight: 400;
		text-decoration: underline;
	}

	&__email {
		display: inline-block;
		margin-bottom: 30px;
	}

	&__show-more {
		color: var(--pink);
		transition: color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: var(--red-hover);
			}
		}
	}
}

.specialists-card {
	&__link {
		display: block;
		width: 100%;
		height: 100%;

		@media (any-hover: hover) {
			&:hover {
				.specialists-card__name {
					color: var(--accent-color);
				}
			}
		}
	}

	&__img {
		object-fit: contain;
		margin-bottom: 25px;

		@include mq("phone", max) {
			margin-bottom: 15px;
			height: 250px;
			width: 100%;
		}
	}

	&__name {
		font-size: 24px;
		line-height: 1.2;
		margin-bottom: 10px;
		transition: color 0.2s ease 0s;

		@include mq("phone", max) {
			text-align: center;
		}
	}
}
