.form-question {
	&__item {
		position: relative;
		margin-bottom: 40px;
	}

	&__input {
		background-color: transparent;
		border-bottom: 1px solid var(--grey-border);
		padding-bottom: 8px;
		outline: transparent;
		transition: border-color 0.2s ease 0s;
		width: 100%;

		&:focus {
			+ .form-question__label {
				display: none;
			}

			border-color: var(--accent-color);
		}
	}

	&__label {
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;

		span {
			color: var(--accent-color);
		}
	}

	&__checkbox-label {
		display: block;
		padding-left: 34px;
		margin-bottom: 40px;
	}

	&__checkbox-style {
		border: 1px solid var(--grey-border);
		border-radius: 2px;
		cursor: pointer;
		position: absolute;
		width: 18px;
		height: 18px;
		margin-left: -34px;
		margin-top: 5px;
	}

	&__checkbox-input {
		&:checked + .form-question__checkbox-style {
			background-image: url(../images/svg/check.svg);
			background-position: center;
			background-repeat: no-repeat;
		}

		&:focus + .form-question__checkbox-style {
			box-shadow: 0 0 4px var(--red-hover);
		}
	}

	&__politic {
		text-decoration: underline;
		transition: text-decoration-color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				text-decoration-color: var(--accent-color);
			}
		}
	}
}
