.title {
	display: flex;
	justify-content: center;
	font-family: "OpenSans";
	font-weight: 400;
	font-size: 38px;
	line-height: 1.2;

	svg {
		align-self: flex-end;
		fill: currentColor;
		margin-left: 20px;
		height: 33px;
		width: 25px;
	}

	@include mq("phone", max) {
		font-size: 28px;
	}
}
