.header {
	z-index: 3;

	&__logo {
		flex-shrink: 0;
		margin-right: 10px;
		z-index: 1;

		@include mq("phone", max) {
			.logo__img {
				width: 50px;
				height: 50px;
			}
		}
	}

	&__top {
		font-family: "OpenSans";
		font-weight: 400;
		background-color: var(--accent-color);
		padding: 12px 0;
	}

	&__top-wrapper {
		color: var(--white-color);
		display: flex;
		font-size: 16px;
		justify-content: space-between;
		align-items: center;
	}

	&__adress {
		margin-right: 20px;

		@include mq("tablet-s", max) {
			display: none;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mq("tablet-s", max) {
			margin-left: auto;
		}
	}

	&__switch-color {
		@include adaptiveValue("margin-right", 55, 20);

		@include mq("tablet-s", max) {
			margin-right: 0;
			margin-left: 25px;
			order: 3;
		}
	}

	&__link {
		display: block;
		transition: color 0.3s ease 0s;
		outline: transparent;
		@include adaptiveValue("margin-right", 55, 20);

		&:focus {
			color: var(--pink);
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--dark-grey-color);
			}
		}
	}

	&__bottom {
		background-color: var(--pink-light);
		font-family: "OpenSans";
		font-weight: 400;
		padding: 5px 0;
		position: relative;
		border-bottom: 1px solid var(--grey-border);
	}

	&__bottom-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__nav {
		margin-right: 10px;

		@include mq("tablet", max) {
			position: absolute;
			top: 50px;
			right: 0;
			bottom: 0;
			left: 0;
			margin-right: 0;
		}
	}

	&__btn {
		@include mq("tablet", max) {
			display: none;
		}
	}

	&__box {
		display: flex;
	}

	&__search {
		z-index: 1;
		position: relative;

		@include adaptiveValue("margin-right", 40, 10);
	}

	&__search-input {
		background-color: transparent;
		position: absolute;
		bottom: 0;
		max-width: 630px;
		width: 100%;
		z-index: -1;
		left: 50%;
		transform: translateX(-50%);
		transition: bottom 0.3s ease 0s;

		&--active {
			bottom: -60px;

			@include mq("tablet", max) {
				z-index: 1;
			}
		}
	}

	&__input {
		background-color: var(--white-color);
		border-radius: 50px;
		padding: 5px 100px 5px 15px;
		max-width: 630px;
		width: 100%;
		height: 50px;
		outline: transparent;
		transition: box-shadow 0.3s ease 0s;
		position: relative;

		&:focus {
			box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
		}
	}

	&__input-btn {
		color: var(--white-color);
		border-radius: 50px;
		background-color: var(--accent-color);
		font-size: 14px;
		line-height: 1;
		padding: 3px 5px;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		width: 75px;
		height: 35px;
		transition: background-color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--red-hover);
			}
		}
	}
}
